
@font-face {
  font-family: "probatio";
  src: url("/fonts/GenerateChangesDemo.ttf") format("opentype");
}

@font-face {
  font-family: "titulos";
  src: url("/fonts/genty-sans-regular.otf") format("opentype");
}
@font-face {
  font-family: "texto";
  src: url("/fonts/Poppins-Medium.ttf") format("opentype");
}
body {
  background-color: #fafbfc;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 80px; /* Espaço para o header fixo */
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@font-face {
  font-family: "probatio";
  src: url("/fonts/GenerateChangesDemo.ttf") format("opentype");
}

body {
  background-color: #fafbfc;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 80px; /* Espaço para o header fixo */
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffffa3;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 11%;
  box-sizing: border-box;
  transition: background-color 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    box-shadow 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

header:hover {
  background-color: #ffffff;
  box-shadow: -2px 2px 20px rgba(142, 142, 142, 0.53);
  transform: translateY(-2px);
}

#header_esquerda {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #202f5a;
  font-size: clamp(14px, 2.5vh, 18px);
  transform-origin: center;
  transition: color 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    text-shadow 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  list-style: none;
}

a:hover {
  color: #f6b737;
  text-shadow: 0 2px 8px rgba(246, 182, 55, 0.548);
  transform: translateY(-2px);
}
h1 {
  color: #202f5a;
}
h2 {
  color: #202f5a;
}
h3 {
  color: #202f5a;
}

pezao {
  color: #202f5a;
}
#logo {
  font-family: "probatio";
  font-size: clamp(16px, 3vh, 24px);
  position: relative;
  transition: color 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    text-shadow 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

#logo:hover {
  color: #f6b737;
  transform: translateY(-2px);
  text-shadow: 0 2px 8px rgba(246, 182, 55, 0.548);
}

.pezinho {
  color: #f6b737;
}

.page1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
}