<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css" />
  </head>

  <body>
    <div class="container">
      <div class="form-image">
        <img src="/images/dragon-remove.png" />
      </div>
      <div class="form">
        <form action="/cadastro" method="POST">
          <div class="form-header">
            <div claszs="title">
              <h1>Cadastro de Usuário</h1>
            </div>
          </div>

          <div class="input-group">
            <div class="input-box">
              <label for="nome">Nome:</label>
              <input
                type="text"
                name="nome"
                id="nome"
                placeholder="Digite seu Nome"
                required
              />
            </div>
            <div class="input-box">
              <label for="numero">Número:</label>
              <input
                type="tel"
                name="numero"
                id="numero"
                placeholder="(xx) xxxx-xxxx"
                required
              />
            </div>
            <div class="input-box">
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Digite seu email"
                required
              />
            </div>
            <div class="input-box">
              <label for="senha">Senha:</label>
              <input
                type="password"
                name="senha"
                id="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>
            <div class="input-box">
              <label for="senha">Confirme a senha:</label>
              <input
                type="password"
                name="confirmesenha"
                id="confirmesenha"
                placeholder="Digite sua senha"
                required
              />
            </div>
          </div>

          <div class="continue-button">
            <button type="submit">Cadastrar</button>
          </div>

          <div class="link">
            <a href="/">Voltar para tela inicial</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
