<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastra-se</title>
    <link rel="stylesheet" href="/css/cadastro.css" />
    <link rel="icon" href="/images/dragon-remove.png" />
  </head>
  <body>
    <div class="container">
      <div class="form-image">
        <img src="/images/dragon-remove.png" alt="Dragão" />
      </div>
      <div class="form">
        <form action="/cadastro" method="POST">
          <div class="form-header">
            <div class="title">
              <h1>Cadastro de Usuário</h1>
            </div>
          </div>

          <div class="input-group">
            <div class="input-box">
              <label for="nome">Nome:</label>
              <input
                type="text"
                name="nome"
                id="nome"
                placeholder="Digite seu Nome"
                required
              />
            </div>
            <div class="input-box">
              <label for="nickname">Nickname:</label>
              <input
                type="text"
                name="nickname"
                id="nickname"
                placeholder="Crie um apelido"
                required
              />
            </div>
            <div class="input-box">
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Digite seu email"
                required
              />
            </div>
            <div class="input-box">
              <label for="senha">Senha:</label>
              <input
                type="password"
                name="senha"
                id="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>
            <div class="input-box">
              <label for="confirmesenha">Confirme a senha:</label>
              <input
                type="password"
                name="confirmesenha"
                id="confirmesenha"
                placeholder="Confirme sua senha"
                required
              />
            </div>
            <div class="input-box">
              <label for="tipo">Categoria de Usuário:</label>
              <select name="tipo" id="tipo" required>
                <option value="">Selecione o tipo de usuário</option>
                <option value="USUARIO">Aluno</option>
                <option value="ADMIN">Administrador</option>
              </select>
            </div>
          </div>

          <div class="continue-button">
            <button type="submit">Cadastrar</button>
          </div>
          <div class="links">
            <div class="link">
              <a href="/login">Já possui conta?</a>
            </div>
            <div class="link">
              <a href="/">Voltar para tela inicial</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascript/cadastro.js"></script>
  </body>
</html>
