<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página De Acesso</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <div id="header_esquerda">
          <nav>
            <ul>
              <li><a href="#inicio" id="logo">PROBATIO</a></li>
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#plataforma">Plataforma</a></li>
              <li><a href="#sobre">Sobre o Enem</a></li>
            </ul>
          </nav>
        </div>
        <a href="/login" id="button_login">Login</a>
      </header>

      <main>
        <div class="interface">
          <section id="inicio" class="page1">
            <div class="texto">
              <h1>Bem vindo!</h1>
              <div class="pezinho">
                <p>Seu espaço de estudos focado no ENEM</p>
              </div>
              <div class="pezao">
                <p>
                  Aqui você encontra conteúdos organizados,<br />
                  atividades interativas e ferramentas feitas<br />
                  para te ajudar a aprender de forma leve,<br />
                  prática e eficiente. Seja você iniciante ou<br />
                  veterano nos estudos, o Probatio está aqui<br />
                  para caminhar com você até a aprovação.
                </p>
                <p>É novo aqui?</p>
              </div>
              <a href="/cadastro" id="button_cadastro">Cadastre-se</a>
            </div>
            <img src="/images/dragon-remove.png" class="dragon" alt="Dragão" />
          </section>

          <section id="plataforma" class="page1">
            <div class="texto">
              <h2>Conheça o Probatio</h2>
              <div class="pezinho">
                <div class="beneficios-video">
                  <img src="/images/video.png" alt="ariana" />
                </div>
              </div>
              <div class="pezao">
                <h2>Aqui você poderá</h2>
                <div class="beneficios_lista">
                  <div class="beneficios">
                    <img src="/images/estudo.png" alt="ariana" />
                    <p>Estudar com <b>resumos prontos</b> de alta qualidade</p>
                  </div>
                  <div class="beneficios">
                    <img src="/images/grafico.png" alt="jungkook" />
                    <p>Visualizar o <b>desempenho</b> dos seus estudos</p>
                  </div>
                  <div class="beneficios">
                    <img src="/images/diario.png" alt="renee" />
                    <p>
                      Fazer <b>exercicios</b> para fixação do conteúdo com
                      metodo <b>Pomodoro</b>
                    </p>
                  </div>
                  <div class="beneficios">
                    <img src="/images/lista-de-desejos.png" alt="carol" />
                    <p>
                      Realizar <b>simulados</b> com questões de provas
                      anteriores
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="sobre" class="page1">
            <div class="texto">
              <h2>Sobre o ENEM</h2>
              <div class="pezinho"></div>
              <div class="pezao">
                <div class="perguntas">
                  <div class="prgta">
                    <div class="img_prgta">
                      <img
                        class="interrogacao"
                        src="/images/interrogacao.webp"
                        alt="interrogação"
                      />
                    </div>
                    <div class="texto_prgta">
                      <h3>Quando são abertas as inscrições?</h3>
                      <p>
                        As inscrições são abertas no final de maio e se estendem
                        até o início de junho. Fique ligado no site oficial do
                        GOV para saber os dias exatos da edição atual:
                        <b
                          ><a
                            href="https://www.gov.br/inep/pt-br/centrais-de-conteudo/legislacao/enem"
                            >site GOV</a
                          ></b
                        >
                      </p>
                    </div>
                  </div>
                  <div class="prgta">
                    <div class="img_prgta">
                      <img
                        class="interrogacao"
                        src="/images/interrogacao.webp"
                        alt="interrogação"
                      />
                    </div>
                    <div class="texto_prgta">
                      <h3>Qual o valor da taxa para a prova?</h3>
                      <p>
                        O valor da taxa para realização do ENEM é R$85. Mas você
                        pode pedir isenção do valor da taxa se estiver dentro
                        dos requisitos para tal.
                      </p>
                    </div>
                  </div>
                  <div class="prgta">
                    <div class="img_prgta">
                      <img
                        class="interrogacao"
                        src="/images/interrogacao.webp"
                        alt="interrogação"
                      />
                    </div>
                    <div class="texto_prgta">
                      <h3>Posso me inscrever sendo menor de idade?</h3>
                      <p>
                        Sim. Não existe idade mínima para se inscrever no ENEM.
                        Mas se você for menor de 18 anos e não estiver
                        concluindo o ensino médio, poderá participar como
                        "treineiro".
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="linha">
          <hr />
        </div>
      </main>
      <footer>
        <div class="logofinal">
          <a href="#inicio" id="logo">PROBATIO</a>
        </div>
      </footer>
    </div>
  </body>
</html>
