<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página De Acesso</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <div id="header_esquerda">
          <nav>
            <ul>
              <li><a href="#inicio" id="logo">PROBATIO</a></li>
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#plataforma">Plataforma</a></li>
              <li><a href="#sobre">Sobre o Enem</a></li>
            </ul>
          </nav>
        </div>
        <a href="/login" id="button_login">Login</a>
      </header>

      <main>
        <div class="interface">
          <section id="inicio" class="page1">
            <div class="texto">
              <h2>Bem vindo!</h2>
              <div class="pezinho">
                <p>Seu espaço de estudos focado no ENEM</p>
              </div>
              <div class="pezao">
                <p>
                  Aqui você encontra conteúdos organizados,<br />
                  atividades interativas e ferramentas feitas<br />
                  para te ajudar a aprender de forma leve,<br />
                  prática e eficiente. Seja você iniciante ou<br />
                  veterano nos estudos, o Probatio está aqui<br />
                  para caminhar com você até a aprovação.
                </p>
                <p>É novo aqui?</p>
              </div>
              <a href="/cadastro" id="button_cadastro">Cadastre-se</a>
            </div>
            <img src="/images/dragon.jpg" class="dragon" alt="Dragão" />
          </section>

          <section id="plataforma" class="page1">
            <div class="texto">
              <h2>Bem vindo!</h2>
              <div class="pezinho">
                <p>Seu espaço de estudos focado no ENEM</p>
              </div>
              <div class="pezao">
                <p>
                  Aqui você encontra conteúdos organizados,<br />
                  atividades interativas e ferramentas feitas<br />
                  para te ajudar a aprender de forma leve,<br />
                  prática e eficiente. Seja você iniciante ou<br />
                  veterano nos estudos, o Probatio está aqui<br />
                  para caminhar com você até a aprovação.
                </p>
                <p>É novo aqui?</p>
              </div>
              <a href="/cadastro" id="button_cadastro">Cadastre-se</a>
            </div>
            <img src="/images/dragon.jpg" class="dragon" alt="Dragão" />
          </section>
          <section id="sobre" class="page1">
            <div class="texto">
              <h2>Bem vindo!</h2>
              <div class="pezinho">
                <p>Seu espaço de estudos focado no ENEM</p>
              </div>
              <div class="pezao">
                <p>
                  Aqui você encontra conteúdos organizados,<br />
                  atividades interativas e ferramentas feitas<br />
                  para te ajudar a aprender de forma leve,<br />
                  prática e eficiente. Seja você iniciante ou<br />
                  veterano nos estudos, o Probatio está aqui<br />
                  para caminhar com você até a aprovação.
                </p>
                <p>É novo aqui?</p>
              </div>
              <a href="/cadastro" id="button_cadastro">Cadastre-se</a>
              <a href="/teste_api">teste a api</a>
            </div>
            <img src="/images/dragon.jpg" class="dragon" alt="Dragão" />
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
