<!-- src/views/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Página De Acesso</title>
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>
  <div id="container">
  <header>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#plataforma">Plataforma</a></li>
        <li><a href="#sobre">Sobre o Enem</a></li>
      </ul>
    </nav>
    <button><a href="/login">Login</a></button>
  </header>
       <section id="inicio">
         <h2>Bem vindo!</h2>
         <p>Seu espaço de estudos focado no ENEM</p> 
         <p>Aqui você encontra conteúdos organizados, <br> 
          atividades interativas e ferramentas feitas <br>
          para te ajudar a aprender de forma leve,    <br>
          prática e eficiente. Seja você iniciante ou <br>
          veterano nos estudos, o Probatio está aqui  <br>
          para caminhar com você até a aprovação.</p> 
         <p>É novo aqui?</p>
           <button><a href="/cadastro">Cadastre-se</a></button> 

       </section>

       <section id="plataforma">
         <h2>Serviços</h2>
         <p>Conteúdo sobre serviços...</p>
       </section>

       <section id="sobre">
         <h2>Contato</h2>
         <p>Conteúdo sobre contato...</p>
       </section>
  <h1>Bem-vindo ao Probatio!</h1>
  <p>Escolha uma opção:</p>
   </div>
</body>
</html>
