<!-- src/views/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Página Inicial</title>
  </head>
  <body>
    <header>
      <a href="/inicio">PROBATIO</a>
      <a href="/materias">Matérias</a>
      <a href="/simulado">Simulados</a>
      <a href="/estasticas">Estastíscas</a>
      <a href="/flashcards">FLASHCARDS</a>
      <a href="/noticias">Portal de Noticias</a>
      <a href="/pomodoro">Pomodoro</a>
      <a href="/">Sair</a>
    </header>
    <main>
      <h1>Ta dentro do probatio!</h1>
    </main>
    <footer>
      <h1>Aqui ta o footer</h1>
    </footer>

    <a href="/">Voltar para tela inicial</a>
  </body>
</html>
