<!-- src/views/login.html -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="form-image">
        <img src="/images/dragon-remove.png" />
      </div>
      <div class="form">
        <form action="/login" method="POST">
          <div class="form-header">
            <div class="title">
              <h1>Entrar</h1>
            </div>
          </div>

          <div class="input-group">
            <div class="input-box">
              <label for="nome">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Digite seu email"
                required
              />
            </div>
            </div>
            <div class="input-box">
              <label for="senha">Senha:</label>
              <input
                type="password"
                name="senha"
                id="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>

          <div class="continue-button">
            <button type="submit">Entrar</button>
          </div>

          <div class="link">
            <a href="/cadastro">É novo aqui? Crie uma conta</a>

            <a href="">Esqueci a senha</a>

            <a href="/">Voltar</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

